<!DOCTYPE html>
<html lang="fi">

<head>
    <meta charset="utf-8">
    <title>Ilmainen maastokartta iPhonelle, Androidille ja Garminille</title>
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l !== 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-TPTK2KP');</script>
    <!-- End Google Tag Manager -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        .dl {
            font-weight: bold;
        }
    </style>
    <meta charset="utf-8" />
    <link rel="canonical" href="https://kartat.hylly.org">
    <meta property="og:title" content="Ilmainen maastokartta Androidille ja Garminille" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://kartat.hylly.org" />
    <meta property="og:image" content="https://kartat.hylly.org/img/scr1.png" />
    <meta name="description"
        content="Ilmaiset offline maastokartta Androidille ja Garminin laitteisiin. Perustuu Maanmittauslaitoksen peruskarttoihin, joita paranneltu muilla aineistoilla" />
    <meta name="author" content="HyllyCorp 2019" />
    <script type="application/ld+json">
        {
            "@context": "https://schema.org/",
            "@type": "Product",
            "name": "Ilmainen offline maastokartta iPhonelle, Androidille ja Garminille",
            "image": [
                "https://kartat.hylly.org/img/scr1.png",
                "https://kartat.hylly.org/img/scr2.png",
                "https://kartat.hylly.org/img/scr3.png"
            ],
            "description": "Ilmaiset offline maastokartat iPhonelle, Androidille ja Garminin laitteisiin. Perustuu Maanmittauslaitoksen peruskarttoihin, joita paranneltu muilla aineistoilla",
            "brand": {
                "@type": "Thing",
                "name": "HyllyCorp"
            },
            "offers": {
                "@type": "Offer",
                "url": "https://kartat.hylly.org",
                "priceCurrency": "EUR",
                "price": "0.0",
                "priceValidUntil": "2020-12-31",
                "availability": "https://schema.org/InStock",
                "seller": {
                    "@type": "Organization",
                    "name": "HyllyCorp"
                }
            }
        }
    </script>
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TPTK2KP" height="0" width="0"
            style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="container-xl">
        <div class="row text-center bg-light p-5 my-1">
            <div class="col-sm">
                <h1 class="display-5 font-weight-normal">Ilmainen offline maastokartta mukaasi</h1>
                <p class="lead font-weight-normal">Maanmittauslaitoksen peruskartan tasoiset ja näköiset ilmaiset
                    maastokartat, yhteensopiva Garmin-maastonavigaattoreiden, Android-laitteiden
                    (Oruxmaps, Locus maps, c:geo) sekä iOS kanssa (Cartograph).</p>
                <a class="btn btn-outline-secondary my-1" href="#garmin">Lataa Garmin versio</a>
                <a class="btn btn-outline-secondary my-1" href="#android">Lataa Android versio</a>
                <a class="btn btn-outline-secondary my-1" href="#iphone">Lataa iPhone versio</a>
                <div class="row">
                    <div class="col-sm">
                        <iframe
                            src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fkartat.hylly.org&width=100&layout=box_count&action=like&size=small&share=true&height=65&appId"
                            width="100" height="65" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                            allowTransparency="true" allow="encrypted-media"></iframe>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <a class="twitter-share-button" href="https://twitter.com/intent/tweet">
                            Tweet</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <h2>Käytön tuki, asennusohjeet ja kehityksen tukeminen</h2>
                <p>
                    Lähtöaineistojen maksuttomuudesta huolimatta karttojen tuottaminen aiheuttaa kustannuksia ja
                    edellyttää
                    työtä sekä testilaitteita. Käyttäjätuki muodostaa merkittävän osan työkuormasta, tästä syystä
                    karttojen
                    asentamiseksi
                    on tarjolla maksulliset asennusohjeet. <strong>Asennusohjeet ostamalla tuet samalla myös karttojen
                        tuottamista ilmaiseksi jatkossakin</strong>
                </p>
                <p>Asennusohjeita ja tukea on saatavilla neljässä eri
                    laatuluokassa:</p>
                <table class="table table-striped table-bordered table-responsive-lg">
                    <tr>
                        <th>IV luokka</th>
                        <th>III luokka</th>
                        <th>II luokka</th>
                        <th>I luokka</th>
                    </tr>
                    <tr>
                        <td>Ilman kuvia</td>
                        <td>Mustavalkoisilla kuvilla</td>
                        <td>Värikuvilla</td>
                        <td>Värikuvilla + sähköpostiosoite tekniselle tuelle</td>
                    </tr>
                    <tr>
                        <td><a href="https://holvi.com/shop/hyllyorg/product/10b9291dfa2bf5f11a9cf7bf3cda5000/">Osta
                                verkkokaupsta - 6.20
                                €</a></td>
                        <td><a href="https://holvi.com/shop/hyllyorg/product/6aaf6c28b51e4df157aeb30749fd0de5/">Osta
                                verkkokaupasta - 12.40
                                €</a></td>
                        <td><a href="https://holvi.com/shop/hyllyorg/product/ae79c26a34be7eefcbd56361918798cc/">Osta
                                verkkokaupasta - 24.80
                                €</a></td>
                        <td><a href="https://holvi.com/shop/hyllyorg/product/a803e3d03b0b3138d3b7a8344e34d05a/">Osta
                                verkkokaupasta - 62.00
                                €</a></td>
                    </tr>
                    <tr>
                        <td colspan="4" class="small">Hinnat sis. alv 24%</td>
                    </tr>
                </table>
                <p class="small">Karttojen tekemiseen käytetyt työkalut ja kuvaustekniikat ovat avointa lähdekoodia.
                    Kaikki kontribuutiot niiden kehittämiseksi ovat tervetulleita <a
                        href="https://github.com/pailakka/mtk2garmin">GitHubissa</a></p>
            </div>
        </div>
        <div class="row my-4">
            <div class="col-sm text-center">
                <a href="https://kartat.hylly.org/img/scr1.png"><img src="https://kartat.hylly.org/img/tscr1.png"
                        alt="scr1" class="img-thumbnail" /></a>
            </div>
            <div class="col-sm text-center">
                <a href="https://kartat.hylly.org/img/scr2.png"><img src="https://kartat.hylly.org/img/tscr2.png"
                        alt="scr2" class="img-thumbnail" /></a>
            </div>
            <div class="col-sm text-center">
                <a href="https://kartat.hylly.org/img/scr3.png"><img src="https://kartat.hylly.org/img/tscr3.png"
                        alt="scr3" class="img-thumbnail" /></a>
            </div>
        </div>
        <div class="row">
            <div class="bg-secondary col-sm text-white overflow-hidden m-1 p-3">
                <div class="my-3 py-3 text-center">
                    <h2 class="display-5"><a name="garmin">Garmin</a></h2>
                </div>
                <div class="bg-light text-dark text-left p-1">
                    <table class="table table-sm table-bordered table-striped">
                        <tr>
                            <th colspan="3">Suoraan laitteeseen ladattavat</th>
                        </tr>
                        {%for k, rf in release_files.items() if rf.type == "garmin_map" and rf.name.endswith(".img")%}
                        <tr>
                            <td><a class="dl"
                                    href="https://kartat-dl.hylly.org/{{publishdate}}/{{rf.name}}">{{rf.name}}</a>
                            </td>
                            <td>{{rf.size_text}}</td>
                            <td>{{rf.updated.strftime('%Y-%m-%d')}}</td>
                        </tr>
                        <tr>
                            <td colspan="3"><code>SHA1: {{rf.hash}}</code></td>
                        </tr>
                        {%endfor%}
                        <tr>
                            <th colspan="3">MapSource, BaseCamp ja MapInstall yhteensopiva</th>
                        </tr>
                        {%for k, rf in release_files.items() if rf.type == "garmin_map" and rf.name.endswith(".exe")%}
                        <tr>
                            <td><a class="dl"
                                    href="https://kartat-dl.hylly.org/{{publishdate}}/{{rf.name}}">{{rf.name}}</a>
                            </td>
                            <td>{{rf.size_text}}</td>
                            <td>{{rf.updated.strftime('%Y-%m-%d')}}</td>
                        </tr>
                        <tr>
                            <td colspan="3"><code>SHA1: {{rf.hash}}</code></td>
                        </tr>
                        {%endfor%}
                        <tr>
                            <th colspan="3">OSX BaseCamp yhteensopiva</th>
                        </tr>
                        {%for k, rf in release_files.items() if rf.type == "garmin_map" and rf.name.endswith(".zip")%}
                        <tr>
                            <td><a class="dl"
                                    href="https://kartat-dl.hylly.org/{{publishdate}}/{{rf.name}}">{{rf.name}}</a>
                            </td>
                            <td>{{rf.size_text}}</td>
                            <td>{{rf.updated.strftime('%Y-%m-%d')}}</td>
                        </tr>
                        <tr>
                            <td colspan="3"><code>SHA1: {{rf.hash}}</code></td>
                        </tr>
                        {%endfor%}
                    </table>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <h4>Suoraan laitteeseen ladattava tiedosto.</h4>
                        <p>Sijoitetaan /Garmin/ kansioon.
                            <br />Uudemmissa malleissa tiedoston nimellä ei ole merkitystä, vanhemmissa
                            malleissa tiedoston nimeksi täytyy vaihtaa
                            <strong>GMAPSUPP.IMG</strong>
                        </p>
                        <h4>MapSource, BaseCamp ja MapInstall yhteensopiva versio.</h4>
                        <p>Tämän avulla voit
                            valita haluamasi alueet (aluejako ETRS-TM35 lehtijako) ja siirtää vain
                            ne laitteeseen, tarpeellinen esimerkiksi vanhempien laitteiden kanssa. <strong>Aja
                                mtk_suomi.exe
                                ja
                                seuraa asennusohjelman ohjeita.</strong></p>
                    </div>
                </div>
            </div>
            <div class="bg-secondary col-sm text-white overflow-hidden m-1 p-3">
                <div class="my-3 py-3 text-center">
                    <h2 class="display-5"><a name="android">Android</a></h2>
                </div>
                <div class="bg-light text-dark text-left p-1">
                    <table class="table table-sm table-bordered table-striped">
                        <tr>
                            <th colspan="3">Mapsforge / Android-yhteensopiva versio</th>
                        </tr>
                        {%for k, rf in release_files.items() if rf.type == "mapsforge_map" and
                        rf.name.endswith(".map")%}
                        <tr>
                            <td><a class="dl"
                                    href="https://kartat-dl.hylly.org/{{publishdate}}/{{rf.name}}">{{rf.name}}</a>
                            </td>
                            <td>{{rf.size_text}}</td>
                            <td>{{rf.updated.strftime('%Y-%m-%d')}}</td>
                        </tr>
                        <tr>
                            <td colspan="3"><code>SHA1: {{rf.hash}}</code></td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <a class="dl" href="orux-map://kartat-dl.hylly.org/{{publishdate}}/{{rf.name}}">Asenna
                                    kartta Oruxmapsiin</a><br />
                                <a class="dl"
                                    href="locus-actions://https/kartat-dl.hylly.org/{{publishdate}}/{{rf.locus_file}}">Asenna
                                    kartta
                                    Locukseen</a>
                            </td>
                        </tr>
                        {%endfor%}
                    </table>
                    <div class="col-sm">
                        {%for k, rf in release_files.items() if rf.type == "mapsforge_style" and
                        rf.name.endswith(".zip")%}
                        <h4>{{rf.name.replace('.zip','').capitalize()}} kuvaustekniikka</h4>
                        <p>
                            <a class="dl" href="orux-mf-theme://kartat-dl.hylly.org/{{publishdate}}/{{rf.name}}">Asenna
                                kuvaustekniikka
                                Oruxmapsiin</a><br />
                            <a class="dl"
                                href="locus-actions://https/kartat-dl.hylly.org/{{publishdate}}/{{rf.locus_file}}">Asenna
                                kuvaustekniikka
                                Locukseen</a><br />
                            <a class="dl" href="https://kartat-dl.hylly.org/{{publishdate}}/{{rf.name}}">Lataa
                                {{rf.name}}</a>
                        </p>
                        {%endfor%}
                    </div>
                </div>
            </div>
            <div class="bg-secondary col-sm text-white overflow-hidden m-1 p-3">
                <div class="my-3 py-3 text-center">
                    <h2 class="display-5"><a name="iphone">iPhone</a></h2>
                </div>
                <div class="bg-light text-dark text-left p-1">
                    <table class="table table-sm table-bordered table-striped">
                        <tr>
                            <th colspan="3">Cartograph / iPhone-yhteensopiva versio</th>
                        </tr>
                        {%for k, rf in release_files.items() if rf.type == "mapsforge_map" and
                        rf.name.endswith(".map")%}
                        <tr>
                            <td><a class="dl"
                                    href="cartograph://kartat-dl.hylly.org/{{publishdate}}/mtk_suomi.cpkg">mtk_suomi.cpkg</a>
                            </td>
                            <td>~{{rf.size_text}}</td>
                            <td>{{rf.updated.strftime('%Y-%m-%d')}}</td>
                        </tr>
                        {%endfor%}
                    </table>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <h4>Kartat vaativat yhteensopivan sovelluksen</h4>
                        <p>Toistaiseksi ainut yhteensopiva iOS sovellus on:
                        <ul>
                            <li>Cartograph maps 3 (<a
                                    href="https://apps.apple.com/us/app/cartograph-maps-3/id1588186796">https://apps.apple.com/us/app/cartograph-maps-3/id1588186796</a>)
                            </li>
                            <li>Cartograph maps 2 (<a
                                    href="https://apps.apple.com/us/app/cartograph-2-maps/id1082995961">https://apps.apple.com/us/app/cartograph-2-maps/id1082995961</a>)
                            </li>
                        </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm my-1 p-1">
                <p><strong>HUOM! Aineistoa ei saa käyttää navigointitarkoituksiin!</strong></p>
                <p>HUOM! Karttojen käyttö kaupallisiin tarkoituksiin edellyttää lupaa. Ota yhteyttä niin saat
                    luvan.</p>
                <p>Kartta sisältää Maanmittauslaitoksen Maastotietokannan aineistoa. (<a
                        href="http://www.maanmittauslaitos.fi/avoimen-tietoaineiston-cc-40-lisenssi">Lisenssi</a>)<br />
                    Kartta sisältää Liikenneviraston merikarttatietokannan aineistoa. <a
                        href="https://www.traficom.fi/fi/tilastot-ja-julkaisut/paikkatietoaineistot/aineistojen-kaytto-ja-lisenssit">Traficomin
                        merikartoitusaineiston lisenssi</a><br />
                    Karttaan <a href="http://www.openstreetmap.org">OpenStreetMap</a>:sta tuotujen aineistojen
                    &copy;
                    OpenStreetMap
                    contributors. <a href="http://www.openstreetmap.org/copyright">Lisenssi</a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm bg-secondary text-white my-1 p-1">
                <h2>Usein Kysyttyjä Kysymyksiä</h2>
                <h3>"Miksi , kun yritän avata tiedostoa, niin minulle tulee kuvake, joka sanoo, että levyn
                    näköistiedosto on vioittunut. En saa avattua karttaa."</h3>
                <p>Siirrä tiedosto (.img) sellaisenaan Garmin laitteeseen äläkä yritä avata sitä tietokoneella. </p>
                <br />
                <h3>Miksi kartalla ei näy merenkulun turvalaitteet?</h3>
                <p>Tulossa.</p><br />
                <h3>Voisiko kartalla näkyä valtion metsästysalueet?</h3>
                <p>Metsähallitus suostu luovuttamaan tietoja.</p><br />
                <h3>Voisiko kartalla näkyä Metsähallituksen retkeilyreitit ja -palvelut?</h3>
                <p>Metsähallitus suostu luovuttamaan tietoja.</p><br />
                <h3>Voisiko kartalla näkyä kiinteistörajat?</h3>
                <p>Kiinteistörajat on lisätty kartalle.</p><br />
                <h3>Kartta (.img) on liian iso mahtuakseen GPS-laitteeni muistiin, voisiko karttaa saada pilkottua?
                </h3>
                <p>Kartta on pilkottu MapSource, BaseCamp ja MapInstall yhteensopivissa tiedostoissa karttalehtijaon
                    mukaisiin paloihin, joista voit siirtää vain
                    haluamasi ja/tai muistiin mahtuvat palat laitteeseen <a
                        href="http://www8.garmin.com/support/download_details.jsp?id=3291">Garmin
                        MapInstall</a>-ohjelmalla</p><br />
            </div>
        </div>
        <footer class="container py-5">
            <div class="row">
                <small class="d-block mb-3 text-muted">&copy; HyllyCorp {{current_year}}. Ota yhteyttä:
                    yhteys@hylly.org</small>
            </div>
        </footer>
    </div>
</body>
<script>window.twttr = (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0],
            t = window.twttr || {};
        if (d.getElementById(id)) return t;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);
        t._e = [];
        t.ready = function (f) {
            t._e.push(f);
        };
        return t;
    }(document, "script", "twitter-wjs"));</script>

</html>